* {
    font-family: 'Comic Neue', cursive;    
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    font-family: 'Comic Neue', cursive;
}

button:hover {
    border: 1px solid aquamarine;
}

input {
    background-color: white;
    border: none;
    
}

body {
    /* border: 1px solid black; */
    /* max-width: 780px;
     margin: auto;
    padding: 20px; 
    position: absolute; */
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

body > div {
    background-color: gray;
}

body > div:nth-child(odd) {
    background-color: rgb(160, 160, 160);
}

#title-container {
    grid-column: 1/4;
    grid-row: 1;
}

#prelim-container {
    grid-column: 1/4;
    grid-row: 2;
}

/* #schedule-instr-container {
    max-width: 780px;
    /* height: 600px;
    position: relative;
    overflow: hidden;
} */



.dropdown {
    display: block;
    /* flex-direction: row; */
    /* border: 1px solid black; */
    height: 100%;
    position: relative;
  
}

#schedule-container {
    /* margin: 0;
    padding: 5px; */
    /* max-width: 572px;
    float: left; */
    grid-column: 1/3;
    grid-row: 3;
}
/* 
#schedule-container ul li {
    display: inline-block;
} */

#instructions-container {
    /* margin: 0;
    padding: 5px; */
    /* max-width: 200px;
    float: right; */
    grid-column: 3/4;
    grid-row: 3;
}

#review-container {
    grid-column: 1/4;
    grid-row: 4;
}